<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration debug="false">

	<appender name="log.arquivo" class="org.apache.log4j.FileAppender">
		<param name="file" value="../log/caixeiro-viajante.log" />
		<param name="append" value="false" />
		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss} [%-5p]:[%c{1}] - %m%n" />
		</layout>
	</appender>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="log.arquivo" />
	</root>
</log4j:configuration>